.badge {
    display: inline-block;
    padding: 0.35em 0.65em;
    font-size: 1.10000em;
    font-weight: 700;
    line-height: 1;
    color: #b02a37;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
  }